:root {
  /* font color */
  --primary-color: #505050;
  --second-color: #3D3A3A;
  --third-color: #222222;
  --white-color: #FFF;
  
  /* background color */
  --background-primary-color: #E4D3D3;
  --background-second-color: #E7E7F6;
  --background-third-color: #af34af;
  
  --dialog-backdrop: rgba(24, 24, 24, 0.6);
}
