.header {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

.auth-btn {
  padding: 12px 18px;
  border-radius: 20px;
  color: var(--primary-color);
  background-color: var(--background-primary-color);
  text-decoration: none;
  font-size: 16px;

  &:hover {
    opacity: .8;
  }
}
